<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-play"></i>&nbsp;&nbsp;<strong><a href="https://play.google.com/store/apps/details?id=com.newsthat">News That</a></strong>
		  	- NewsThat is a an app which gives out short video news. We make highly curated videos in different genres, giving our users daily dose information and entertainment.
		</h5>
		<h5>
			<i class="fa fa-play"></i>&nbsp;&nbsp;<strong><a href="https://play.google.com/store/apps/details?id=com.aham.learner">Aham Learner</a></strong>
			- This application aim is to assist students in Aham to manage their classes, chat with tutor to ask questions, 
			enroll to new classes and much more.
		</h5>
    	<h5>
			<i class="fa fa-play"></i>&nbsp;&nbsp;<strong><a href="https://play.google.com/store/apps/details?id=com.aham">Aham Tutor</a></strong>
			- This application aim is to assist Tutors in Aham to manage their classes, availability, chat with students to solve their queries and much more.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://play.google.com/store/apps/details?id=in.vasista.suprabhat">Suprabhat</a></strong>
			- This  Agents/Retailers can use the Daily Orders App to track all their transactions (including make and receive payments) with respect to both Dairies/Distributors and Consumers right from their fingertips.
      Consumers can view their daily/monthly Milk invoices and make digital payments to their agents.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 5</a></strong>
			- Dicta causae meliore ex vel, in vix erant integre petentium. Vix ei nisl scripta recusabo,
			eam doming blandit facilisis.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 6</a></strong>
			- Inermis recusabo elaboraret mea et, dicat neglegentur vim te. Nec et sanctus scriptorem,
			usu ex sapientem gubergren. Tamquam admodum ei usu.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 7</a></strong>
			- Essent putant indoctum sed in, reprimique persequeris neglegentur te quo. Nam rebum
			tractatos partiendo at, debet ubique oporteat ut his.
		</h5>


    </div>
  </div>
</div>
</section>
