<section id="projects">
	<div class="container">
		<h3>Projects</h3>
		<div class="panel panel-default">
			<div class="panel-body">
				
				<h5>
					<i class="fa fa-android"></i>&nbsp;&nbsp;<strong><a href="#">Qivarna </a></strong>
					- Qivarna is Massage, Spa Service Platform. It has User and vendor applications.
					<ul>
						<li> <strong> User Application </strong> -  User can search & filter service. User can buy, check availability and chat with vendor. User can manage his orders, appointments and can give feedback.</li>
						<li> <strong> Vendor Application </strong> -  Vendor can manage appointments, validates appointment by QR code scan. Vendor can respond to enquiries and appointments, clarifies queries of user by chat.</li>
						<li> Platform and Libraries - Android SDK, Firebase for Chat, Algolia for Search, Cloudinary for Image storage, MVP, Dragger 2, Retrofit 2, Butterknife, Google Maps, Google Places, Zxing.</li>
					</ul>
				</h5>
				
				<h5>
					<i class="fa fa-android"></i>&nbsp;&nbsp;<strong><a href="#">Authorize.net mPOS (VISA)</a></strong>
					- Authorize.Net Mobile Point of Sale application allows you to accept and manage credit and debit card payments securely with your Android devices. 
					A great retail POS solution for in-home services, medical offices, retail stores, trade shows, farmers markets - anywhere you need to accept credit card payments.
					<ul>
						<li>PlayStore Link - <a href="https://play.google.com/store/apps/details?id=net.authorize.mobilemerchantandroid">https://play.google.com/store/apps/details?id=net.authorize.mobilemerchantandroid</a> </li>
					</ul>
				</h5>
				
				<h5>
					<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Accept SDK Authorize.net (VISA)</a></strong>
					- This SDK allows mobile developers to accept payments on a customer's mobile device from within their Android applications without having to pass sensitive card data back to their application backend servers.
					<ul>
						<li>Github Link - <a href="https://github.com/AuthorizeNet/accept-sdk-android"> https://github.com/AuthorizeNet/accept-sdk-android</a></li>
					</ul>
				</h5>
				
				<h5>
					<i class="fa fa-play"></i>&nbsp;&nbsp;<strong><a href="#">Aham Learner (Startup)</a></strong>
					- This application aim is to assist students in Aham to manage their classes, chat with tutor to ask questions, 
					enroll to new classes and much more.
					<ul>
						<li> Platform and Libraries -  Ionic 3, Angular 4 and Firebase</li>
						<li>PlayStore Link - <a href="https://play.google.com/store/apps/details?id=com.aham.learner">https://play.google.com/store/apps/details?id=com.aham.learner</a> </li>
						<li>AppStore Link - <a href="https://itunes.apple.com/us/app/ahamlearner/id1305633955?mt=8">https://itunes.apple.com/us/app/ahamlearner/id1305633955?mt=8</a></li>
					</ul>
				</h5>
				
				<h5>
					<i class="fa fa-play"></i>&nbsp;&nbsp;<strong><a href="#">Aham Tutor (Startup)</a></strong>
					- This application aim is to assist Tutors in Aham to manage their classes, availability, chat with students to solve their queries and much more.
					<ul>
						<li> Platform and Libraries -  Ionic 3, Angular 4 and Firebase</li>
						<li>PlayStore Link - <a href="https://play.google.com/store/apps/details?id=com.aham">https://play.google.com/store/apps/details?id=com.aham</a> </li>
						<li>AppStore Link - <a href="https://itunes.apple.com/us/app/aham-tutor/id1328893321?mt=8">https://itunes.apple.com/us/app/aham-tutor/id1328893321?mt=8</a></li>
					</ul>
				</h5>
				
				<h5>
					<i class="fa fa-android"></i>&nbsp;&nbsp;<strong><a href="#">Suprabhat (Vasista)</a></strong>
					- This is client application of suprabhat a platform to solve the last-mile sales and distribution leg of the dairy supply chain. Using this application agents can track all their transactions (including make and receive payments) with respect to both Dairies/Distributors and Customers.
					Customers can view their daily/monthly Milk invoices and make digital payments to their agents. 
					<ul>
						<li> Platform & Libraries - Android SDK,UPI Integration Using Axis Bank API, MVP, Dagger 2, Retrofit 2, Butterknife. 
							<li> PlayStore Link - <a href="https://play.google.com/store/apps/details?id=in.vasista.suprabhat">https://play.google.com/store/apps/details?id=in.vasista.suprabhat</a> </li>
						</ul>
					</h5>	
					
					<h5>
						<i class="fa fa-android"></i>&nbsp;&nbsp;<strong><a href="#">SBrowser (SAMSUNG)</a></strong>
						- Samsung Browser for Android. I worked on Tab Manager module.
						<ul>
							<li> PlayStore Link - <a href="https://play.google.com/store/apps/details?id=com.sec.android.app.sbrowser&hl=en "> https://play.google.com/store/apps/details?id=com.sec.android.app.sbrowser&hl=en </a></li>
						</ul>
					</h5>
					<h5>
						<i class="fa fa-android"></i>&nbsp;&nbsp;<strong><a href="#">News That (Startup)</a></strong>
						- NewsThat is a an app which gives out short video news. We make highly curated videos in different genres, giving our users daily dose information and entertainment.
						<ul>
							<li> Platform and Libraries - Android SDK, Calligraphy, Cloudinary, MVP, Dragger 2, Retrofit 2, Butterknife.</li>
							<li> PlayStore Link - <a>https://play.google.com/store/apps/details?id=com.newsthat</a> </li>
						</ul>
					</h5>

					<h5>
						<i class="fa fa-android"></i>&nbsp;&nbsp;<strong><a href="#">Build Buy (Startup)</a></strong>
						- Build Buy is Construction related E-Commerce Product. These android applications primarily related to RMC (Ready Mix Concrete) supply.
						<ul>
							<li>
								<strong>Buyer Application </strong> - Buyer can create new order, track the  order, check pending order in different projects.
								<a href="https://play.google.com/store/apps/details?id=com.buildbuy.buyer"> https://play.google.com/store/apps/details?id=com.buildbuy.buyer</a>
							</li>
							<li>
								<strong>Supplier Application </strong> - Supplier receives quotations and respond to them, check all orders by state, creates transactions to prepare delivery(filling trucks with RMC) and monitor the trucks.
								<a href="https://play.google.com/store/apps/details?id=com.buildbuy.supplier"> https://play.google.com/store/apps/details?id=com.buildbuy.supplier   </a>
							</li>
						</ul>
					</h5>

					<h5>
						<i class="fa fa-android"></i>&nbsp;&nbsp;<strong><a href="#">Today's Menu (Startup)</a></strong>
						- In Germany restaurant menu will be displayed on boards. This application  helps user to find lunch at nearby restaurants. This application is used by User and Restaurant owner.  
						If person login as restaurant owner, he can add new restaurant, manage existing restaurant and menu.
						<ul>
							<li>PlayStore Link - <a href="https://play.google.com/store/apps/details?id=todaysmenu.co">https://play.google.com/store/apps/details?id=todaysmenu.co</a> </li>
						</ul>
					</h5>
					
					<h5>
						<i class="fa fa-android"></i>&nbsp;&nbsp;<strong><a href="#">Other Work</a></strong>
						<ul>
							<li> BuienRadar (Version 2) - <a href="https://play.google.com/store/apps/details?id=com.supportware.Buienradar">https://play.google.com/store/apps/details?id=com.supportware.Buienradar</a> </li>
							<li> MotoCare Customer Application - <a href="https://play.google.com/store/apps/details?id=com.application.motogear">https://play.google.com/store/apps/details?id=com.application.motogear</a> </li>
							<li> Cricket Scheduling Application - <a href="https://play.google.com/store/apps/details?id=com.braintist.app1">https://play.google.com/store/apps/details?id=com.braintist.app1</a> </li>
						</ul>
					</h5>
				</div>
			</div>
		</div>
	</section>
	